/* Dashboard layout */
.ui-popover__container .ui-popover.userpop_up{
    margin: 0 1.6rem;
    background: none;
    box-shadow: none;
}

.ui-popover__container .ui-popover.userpop_up .ui-popover__tooltip{
	top: calc( 1.3rem - 20px );
}

.ui-popover__container .ui-popover.userpop_up .ui-popover__content-wrapper{
    margin: 1.3rem 0;
    background-color: rgba(255,255,255,0.98); 
    -webkit-box-shadow: 0 0 0 1px rgba(39,44,48,0.05), 0 2px 7px 1px rgba(39,44,48,0.16);
    box-shadow: 0 0 0 1px rgba(39,44,48,0.05), 0 2px 7px 1px rgba(39,44,48,0.16);
}

.ui-popover__container:hover .ui-popover.userpop_up{
    display: block;
    opacity: unset;
    transform: none;
}

.ui-flash-wrapper .ui-flash{
    margin: auto;
    text-align: center;
}

.ui-flash-wrapper .ui-flash .ui-flash__message{
    width: 100%;
}

.printavo_settings_user-avatar{
	width:50px;
	height:50px;
}

.page-home-index .page__sidebar-background{
    background-color: #ffffff;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Order single page */
.order_single_header .ui-title-bar__metadata{
    color: #212b36;
    font-weight: 600;
}

.order_single_content .takeover_meta_table{
    margin: .6rem 2rem;
    border-top: 1px solid #979797;
    padding: 1.6rem 0.6rem;	
}

.order_single_content .takeover_meta_table .home-takeover-data__wrap{
    min-width: 25%;
    float: left;
    padding: 0.6rem 0;
}

.order_single_content .takeover_meta_table .home-takeover-data__label{
	color: #637381;
    font-weight: 500;
}

.order_single_content .takeover_meta_table .home-takeover-data__figure{
	margin: 0;
}

.order_single_content .ui-card-section-item{
    padding: 1rem 2rem;
}

.order_single_content .ui-card-section-item:nth-child(2n){
	background: #f9fafb;
}

.order_single_content .ui-card-section-item .ui-subheading{
	text-transform: none;
	font-size: 1.4rem;
}

.ui-front{
	z-index: 100;
}

.ui-widget-overlay.ui-front{
	background-color: rgba(0,0,0,0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Dashboard page */
.campus-dashboard-content .takeover_meta_table{
    padding: 2rem 0;
}

.campus-dashboard-content .takeover_meta_table .home-takeover-data__wrap{
    min-width: 25%;
    float: left;
    padding: 0.6rem 0;
}

.campus-dashboard-content .takeover_meta_table .home-takeover-data__label{
	color: #637381;
    font-weight: 500;
}

.campus-dashboard-content .takeover_meta_table .home-takeover-data__figure{
	margin: 0;
}

.campus-dashboard-content .fresh-home-greeting__content .fresh-home-greeting__heading{
    font-size: 3rem;
    line-height: 3.5rem;
}

.campus-dashboard-content .fresh-home-greeting__content .fresh-home-greeting__body{
    font-size: 3rem;
    max-width: 450px;
    line-height: 3.5rem;
}

.campus-dashboard-content .home-card-content__wrapper.order-notification-dashboard{
    padding: 1.2rem 0;
}

.campus-dashboard-content .home-card-content__wrapper.order-notification-dashboard:not(:last-child){
    border-bottom: 1px solid #dfe3e8;
}

.campus-dashboard-content .notification-dot-dashboard{
    border-radius: 50px;
    width: 8px;
    height: 8px;
    background-color: #007ace;
}

.campus-dashboard-content .btn{
     padding: 0.6rem 1.5rem;
}

.ui-dialog.ui-widget.ui-widget-content{
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: fixed!important;
    top: 100px!important;
    right: 0;
    left: 0!important;
    margin: auto;
    width: calc(100% - 20px)!important;
    max-width: 620px;
    min-width: 10%;
    min-height: 10%;
    max-height: calc(100vh - 100px);
    background: #ffffff;
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    border-radius: 3px;
    overflow-x: hidden;
    outline-color: transparent;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar{
    position: relative;
    margin: 0;
    padding: 20px;
    min-height: 20px;
    border-bottom: 1px solid #e6e6e6;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-titlebar .ui-dialog-title{
    font-size: 20px;
    line-height: 1;
}

.ui-dialog .ui-button.ui-dialog-titlebar-close{
    box-shadow: none;
    background-repeat: no-repeat;
    position: absolute;
    text-indent: -9999px;
    height: 20px;
    background-position: 0 0;
    background-image: url(../icons/cancel-small-minor.svg);
    top: 2rem;
    right: 0.6rem;
    border: 0;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-content{
    padding: 20px;
    max-height: calc(100vh - 374px);
    overflow: auto;
    -webkit-transition: max-height 0.15s;
    transition: max-height 0.15s;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane{
    padding: 20px;
    min-height: 32px;
    margin: 0;
    background: none;
    border-top: 1px solid #e6e6e6;
    border-bottom: none;
    text-align: right;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane .ui-button.ui-widget{
	margin-left:5px;
}

.ui-dialog.ui-widget.ui-widget-content .ui-dialog-buttonpane .ui-button.ui-widget:last-child{
    background: -webkit-gradient(linear, left top, left bottom, from(#6371c7), to(#5563c1));
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    border-color: #3f4eae;
    -webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
    box-shadow: inset 0 1px 0 0 #6f7bcb;
    color: white;
}

.address-editable .next-input-wrapper .full-width-select {
	width: auto;
}
#user_one_bonus,#user_two_bonus {
	padding-left: 0;
	padding-right: 0;
}
#user_one_bonus_value,#user_two_bonus_value {
	width: auto;
}
#splitsheet_value_btm_form {
	text-transform: capitalize;
}
.reports_table_contents {
    vertical-align: top;
    padding-top: 20px !important;
}

.reports_table_content_initial {
	vertical-align: top;
	max-width: 100px;
}

.reports_table_content_initial .cover_content_initial_round {
    display: inline-block;
    padding-left: 20px;
}

table.orders_list {
    padding: 20px 0;
    position: absolute;
    left: 50%;
    transform: translateX( calc( 87.5px - 50% ) );
    width: calc( 100% - 215px);
    margin: auto 0;
}
tr.ui-nested-link-container {
	position: relative;
}
.students_reports_table input[type=checkbox] {
	margin: 0;
}
.reports_page_header {
    width: 100%;
	margin: 20px 0;
}
.reports_heading {
    width: 50%;
    float: left;
}
.reports_submit_button_container {
    width: 50%;
    float: left;
	text-align: right;
}
.reports_page_header .reports_heading h1 {
	font-weight: 600;
}
button.reports_submit_button {
    background-color: #606fc7;
    color: white;
    padding: 10px 20px;
    border: inherit;
    border-radius: 3px;
    margin-right: 5vw;
    cursor: pointer;
}
.order_archive.orders_table_opened .orders_list {
	display: table;
}
.order_archive .orders_list {
	display: none;
} 
.order_archive {
	height: 0;
} 
.prepare_for_payment_page_header {
    margin: 30px 0;
}
.prepare_for_payment_page_header h1 {
	font-weight: 600;
}

.button_center{
	margin: 20px;
    margin-bottom: 200px;
}

.button_center #load_more_students{
	background-color: #606fc7;
    color: white;
    padding: 10px 20px;
    border: inherit;
    border-radius: 3px;
    margin-right: 100px;
    margin: auto;
    display: block;
	position: relative;
}

#load_more_students.loading:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
	background-image: url(https://campusinkdashboard.herokuapp.com/images/spinner-white.gif);
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    background-color: #606fc7;
    border-radius: 3px;
}
.payment_report_title { 
	font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.payment_report_title_container {
	padding: 30px 0;
    border-bottom: solid 1px #979797;
    margin: 0 20px 35px;
}

.reports_payment_footer{
    padding: 20px 25px;
}

.reports_payment_footer .reports_payment_footer_table{
    float: right;
    min-width: 60%;
}

.reports_payment_footer .payment_report_title_container{
    margin: 0 0 35px;
}

.reports_payment_footer_action_btn{
    padding: 0 30px 30px;
}

.reports_payment_footer_action_btn button,.reports_payment_footer_action_btn input[type="submit"]{
	display: block;
    margin-bottom: 20px;
    margin-left: auto;
    width: 100%;
    max-width: 200px;
    padding: 10px;
	box-shadow: 0 1px 0 0 rgba(22, 29, 37, 0.1), inset 0 1px 0 1px rgba(255, 255, 255, 0.06);
    border-radius: 3px;
	background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
	border: solid 1px #c4cdd5;
}

.reports_payment_footer_action_btn input[type="submit"]{
    background-image: linear-gradient(to bottom, #606fc7, #5865c1);
    border: solid 1px #4f5dba;
    color: #fff;
	height: auto;
    line-height: normal;
}

.reports_payment_footer_table table th{
	color: #6b7988;
    border: 0;
}

.reports_payment_footer_table table td{
    font-size: 24px;
    font-weight: 500;
}

#new_comment_order input[type="submit"]{
	float: right;
    margin: 10px 0;
    background-color: #606fc7;
    color: #fff;
    padding: 5px 20px;
    height: auto;
    border-radius: 5px;
}

.comment_section .comment_body{
    padding: 20px 0;
}

.comment_section .comment_body .cmt_items{
	padding: 5px 0;
}

.comment_section  .cmt_items span{
    color: #007ace;
    padding-right: 5px;
    font-weight: 500;
}

.ui-nav_submenu{
	margin-bottom: .8rem;
}

@media (min-width: 48.0625em){
	.ui-nav_submenu{
		margin-left: 3.6rem;
	}
}

.table-wrapper{
	overflow: visible;
}

tr.splitscreen_order{
	color: #9B9B9B;
}

tr.splitscreen_order>td:first-child{
	position: relative;
}

tr.splitscreen_order>td:first-child:before {
    content: '';
    position: absolute;
    left: -10px;
    background: #47c1bf;
    width: 8px;
    height: 8px;
    border-radius: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.splitsheet_value_cover{
	position: relative;
}

.splitsheet_value_cover:hover:before{
    content: "";
    -webkit-appearance: menulist;
    position: absolute;
    height: 100%;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    z-index: -1;
}

#splitsheet{
	background: transparent;
}

#dialog .selectize-control.single{
    padding: 0;
    border: 0;
    background: transparent;
}

#dialog .selectize-control.single .selectize-input{
    background: transparent;
}

#add_campus_btn{
	min-height: 2rem;
}

.campus_select_item .Polaris-Select__Input{
    box-sizing: border-box;
}

.disconnect_printavo_acc .Polaris-SettingAction__Action{
	text-align:right;
}

.Polaris-SettingAction__Action.setting_save_btn{
	text-align:right;
    padding-right: 2rem;	
}

.campus_cumission_calculator.Polaris-Card{
    max-width: 600px;
}


.campus_cumission_calculator .col-md-6 {
    width: 50%;
    float: left;
}

.campus_cumission_calculator .col-md-6:nth-child(even) {
	text-align: right;
}

.campus_cumission_calculator .col-md-6 div {
    padding: 2px;
}

/* Tables */

table#dt_basic td {
	padding: 15px 17px;
}

table#dt_basic {
	overflow-x: scroll;
    width: 100%;
    border: 1px solid #ddd;
}

.edit_tables {
    width: 50%;
    margin: 50px 0 0 20px;
}

h2.nav-tab-wrapper {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding-top: 9px;
	padding-bottom: 0;
	line-height: inherit;
}

h2.product_calculator_tables a {
	float: left;
	border: 1px solid #ccc;
	border-bottom: none;
	margin-left: .5em;
	padding: 5px 10px;
	font-size: 14px;
	line-height: 24px;
	background: #e5e5e5;
	color: #555;
	text-decoration: none;
}

h2.product_calculator_tables a:focus, h2.product_calculator_tables a:hover {
	background-color: #fff;
	color: #444;
}

.product_calculator_details h1 {
	padding-top: 20px;
	padding-left: 20px;
}

.dataTables_wrapper .dt-toolbar form input.insert_form {
	background: #0085ba;
    border-color: #0073aa #006799 #006799;
    -webkit-box-shadow: 0 1px 0 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;	
}
.dataTables_wrapper .dt-toolbar {
    padding: 12px 0;
}

.dt-toolbar-footer {
    border-top: inherit !important;
}

.dataTables_wrapper .dt-toolbar {
    border-bottom: inherit;
	padding-bottom: 10px;
}

div#dt_basic_wrapper {
    padding: 20px;
    border: 1px solid #ddd;
    margin: 34px 12px;
}

.dt-toolbar-footer .pagination {
    padding: 3px 6px 5px 20px;
}